/*--------------------------------------------------------------
# Custom - Terms
--------------------------------------------------------------*/

.terms {
	padding: 0 5rem 0 5rem;
}

.term-box {
	width: 25%;
	border-style: solid;
	border-width: 6px 1px 1px 1px;
	border-color: lightgrey;
	margin: 0 1% 0 1%;
	padding-bottom: 1.5rem;
}

.term-box a {
	text-decoration: none;
	color: black;
}

.term-image {
	width: 5.5rem;
	padding: 1rem 0 1rem 0;
}

.term-description {
	font-family: Merriweather-Light;
	font-size: 1.25rem;
	line-height: 2.25rem;
	text-align: center;
	width: 90%;
}

.term-description p:hover {
	text-decoration: underline;
	color: black;
}

.term-button {
	background-color: rgb(45, 134, 112);
	color: white;
	font-size: 1.25rem;
	text-align: center;
}

.term-button p {
	margin: 0;
	padding: 0.5rem 2rem 0.5rem 2rem;
}

.term-button p:hover {
	text-decoration: underline;
	color: white;
}

.terms-menu {
	padding: 0 5rem 0 5rem;
}

.terms-menu-item {
	text-align: center;
	padding: 0 2.5rem 0 2.5rem;
}

.terms-menu-item a {
	font-size: 1.5rem;
	color: rgb(45, 134, 112);
	text-decoration: none;
}

.terms-menu-item a:hover {
	text-decoration: underline;
	color: rgb(45, 134, 112);
}
